  <footer id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="footer" class="Footer {% if add_top_margin %}Footer--withMargin{% endif %}" role="contentinfo">
  
  <div class="Newsletter">
      <div class="Footer__Inner">
        <h3 class="Heading u-h3">{{ section.settings.newsletter_header }}</h3>
  
        {%- assign newsletter_id = 'footer-' | append: section.id -%}
  
        {%- form 'customer', id: newsletter_id, class: 'Newsletter Form' -%}
          {%- if form.posted_successfully? -%}
            <p class="Form__Alert Alert Alert--success">{{ 'home_page.newsletter.success' | t }}</p>
          {%- else -%}
            {%- if form.errors -%}
              <p class="Form__Alert Alert Alert--error">{{ form.errors.messages['email'] }}</p>
            {%- endif -%} 
  
            <div class="Newsletter__Email">
              <input type="hidden" name="contact[tags]" value="newsletter">
              <input type="email" name="contact[email]" class="Form__Input newsletter__emial" aria-label="{{ 'home_page.newsletter.input' | t }}" placeholder="{{ 'home_page.newsletter.input' | t }}" required><br>
              <button type="submit" class="Form__Submit Button Button--secondary Button--full">{{ 'home_page.newsletter.submit' | t }}</button>
            </div>
          {%- endif -%}
        {%- endform -%}
      </div>
  </div>
  
  <div class="Footer_Box">
    <div class="Footer__Inner">
  
      <div class="footer_info">
  
        <div class="footer-text footer-box ">
          <h3 class="Heading u-h4">{{ section.settings.text_box_header }}</h3>
          {{ section.settings.text_box_text }}
        </div>
  
        <div class="footer-link footer-box">
          <h3 class="Heading u-h4">{{ section.settings.linkbox_1_header }}</h3>
          <ul class="Linklist">
            {%- assign linklist_one = linklists[section.settings.linkbox_1_menu] -%}
            {%- for link in linklist_one.links -%}
              <li class="Linklist__Item">
                <a href="{{ link.url }}" class="Link Link--primary">{{ link.title | escape }}</a>
              </li>
            {%- endfor -%}
          </ul>
        </div>
  
        <div class="footer-link footer-box">
          <h3 class="Heading u-h4">{{ section.settings.linkbox_2_header }}</h3>
          <ul class="Linklist">
            {%- assign linklist_two = linklists[section.settings.linkbox_2_menu] -%}
            {%- for link in linklist_two.links -%}
              <li class="Linklist__Item">
                <a href="{{ link.url }}" class="Link Link--primary">{{ link.title | escape }}</a>
              </li>
            {%- endfor -%}
          </ul>
        </div>
  
        <div class="footer-link footer-box footer-contact">
          <h3 class="Heading u-h4">{{ section.settings.contact_box_header }}</h3>
          <ul class="Linklist">
              <li class="Linklist__Item"><b>{{ section.settings.contact_box_phone }}</b> {{ section.settings.contact_box_number }}</li>
              <li class="Linklist__Item"><b>{{ section.settings.contact_box_mail }}</b> {{ section.settings.contact_box_mail_text }}</li>
              <li class="Linklist__Item"><b>{{ section.settings.contact_box_day_week }}</b> {{ section.settings.contact_box_day_week_time }}</li>
              <li class="Linklist__Item"><b>{{ section.settings.contact_box_day_weekend }}</b> {{ section.settings.contact_box_day_weekend_time }}</li>
              {% if settings.country_selector %}
                <br>
                <li class="Linklist__Item"><b>Select country: </b><span class="footer_country_desktop">{% include 'shipping-to' %}</span></li> 
              {% endif %}
          </ul>
        </div>
   
  
        <div class="Product__Tabs">
          <div class="Collapsible Collapsible--large">
            <button class="Collapsible__Button Heading u-h4" data-action="toggle-collapsible" aria-expanded="false">
              {{ section.settings.linkbox_1_header }}<span class="Collapsible__Plus"></span>
            </button>
        
            <div class="Collapsible__Inner">
              <div class="Collapsible__Content">
                <div class="Rte">
                  <ul class="Linklist">
                    {%- assign linklist_one = linklists[section.settings.linkbox_1_menu] -%}
                    {%- for link in linklist_one.links -%}
                      <li class="Linklist__Item">
                        <a href="{{ link.url }}" class="Link Link--primary">{{ link.title | escape }}</a>
                      </li>
                    {%- endfor -%}
                  </ul>
                </div>
              </div>
            </div>
          </div>
    
          <div class="Collapsible Collapsible--large">
            <button class="Collapsible__Button Heading u-h4" data-action="toggle-collapsible" aria-expanded="false">
              {{ section.settings.linkbox_2_header }}<span class="Collapsible__Plus"></span>
            </button>
    
            <div class="Collapsible__Inner">
              <div class="Collapsible__Content">
                <div class="Rte">
                  <ul class="Linklist">
                    {%- assign linklist_two = linklists[section.settings.linkbox_2_menu] -%}
                    {%- for link in linklist_two.links -%}
                      <li class="Linklist__Item">
                        <a href="{{ link.url }}" class="Link Link--primary">{{ link.title | escape }}</a>
                      </li>
                    {%- endfor -%}
                  </ul>
                </div>
              </div>
            </div>
          </div>
  
          <div class="Collapsible Collapsible--large">
            <button class="Collapsible__Button Heading u-h4" data-action="toggle-collapsible" aria-expanded="false">
              {{ section.settings.contact_box_header }}<span class="Collapsible__Plus"></span>
            </button>
    
            <div class="Collapsible__Inner">
              <div class="Collapsible__Content">
                <div class="Rte">    
                    <ul class="Linklist">
                      <li class="Linklist__Item"><b>{{ section.settings.contact_box_phone }}</b> {{ section.settings.contact_box_number }}</li>
                      <li class="Linklist__Item"><b>{{ section.settings.contact_box_mail }}</b> {{ section.settings.contact_box_mail_text }}</li>
                      <li class="Linklist__Item"><b>{{ section.settings.contact_box_day_week }}</b> {{ section.settings.contact_box_day_week_time }}</li>
                      <li class="Linklist__Item"><b>{{ section.settings.contact_box_day_weekend }}</b> {{ section.settings.contact_box_day_weekend_time }}</li>
                      
                      {% if settings.country_selector %}
                        <br>
                        <li class="Linklist__Item"><b>Select country: </b><span class="footer_country_desktop">{% include 'shipping-to' %}</span></li> 
                      {% endif %} 
            
                    </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
      </div>
  
      <div class="footer_copyright">
        {% if settings.country_selector %}
          <div class="footer_country"><b>Select country: </b>{% include 'shipping-to' %}</div>
        {% endif %}
        <div class="copyright_line">
          <span>©{{ section.settings.copyright_text }}</span>
          {{ section.settings.copyright_text_company }}
          
        </div>
  
        {%- if section.settings.show_payment_methods -%}
        {%- capture payment_methods -%}
          {%- for type in shop.enabled_payment_types -%}
            <li class="HorizontalList__Item">{{ type | payment_type_svg_tag }}</li>
          {%- endfor -%}
        {%- endcapture -%}
  
        {%- if payment_methods != blank -%}
          <ul class="Footer__PaymentList HorizontalList">
            {{ payment_methods }}
          
            {% assign shop_url_product_page = shop.url %}
            {% assign shop_dk = 'https://shabes.dk' %}
            {% if shop_url_product_page == shop_dk %}
              <li class="HorizontalList__Item"><img style="border-radius:3px;padding:1px;border:1px solid #ececec;margin-top: -8px;height:24px;width: 38px;" src="{{ 'Anyday_black44b.png' | asset_url }}"></li>
            {% endif %}
          </ul>
        {%- endif -%}
      {%- endif -%}
      </div>
  
    </div>
  </div>
  
  {% schema %}
  {
    "name": "Footer",
    "class": "shopify-section--footer",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_payment_methods",
        "label": "Show payment methods",
        "info": "Payment method icons are automatically displayed based on your Shopify payment methods.",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_language_selector",
        "label": "Show language selector",
        "default": true
      },
      {
        "type": "text",
        "id": "language_selector_header",
        "label": "Language selector header",
        "default": "Language selector header"
      },
      {
        "type": "header",
        "content": "Newsletter"
      },
      {
        "type": "text",
        "id": "newsletter_header",
        "label": "Newsletter header",
        "default": "Newsletter header"
      },
      {
        "type": "header",
        "content": "Footer boxes"
      },
      {
        "type": "text",
        "id": "text_box_header",
        "label": "Text Box header",
        "default": "Text Box header"
      },
      {
        "type": "richtext",
        "id": "text_box_text",
        "label": "Text box text",
        "default": "<p>Text box text</p>"
      },
      {
        "type": "text",
        "id": "linkbox_1_header",
        "label": "Linkbox 1 header",
        "default": "Link box header"
      },
      {
        "type": "link_list",
        "id": "linkbox_1_menu",
        "label": "Links 1",
        "default": "main-menu"
      },
      {
        "type": "text",
        "id": "linkbox_2_header",
        "label": "Linkbox 2 header",
        "default": "Link box header"
      },
      {
        "type": "link_list",
        "id": "linkbox_2_menu",
        "label": "Links 2",
        "default": "main-menu"
      },
      {
        "type": "text",
        "id": "contact_box_header",
        "label": "Contact box header",
        "default": "Contact box header"
      },
      {
        "type": "text",
        "id": "contact_box_phone",
        "label": "Contact box phone",
        "default": "Tel:"
      },
      {
        "type": "text",
        "id": "contact_box_number",
        "label": "Contact box number",
        "default": "+45 71 34 37 26"
      }, 
      {
        "type": "text",
        "id": "contact_box_mail",
        "label": "Contact box e-mail",
        "default": "E-mail:"
      },
      {
        "type": "text",
        "id": "contact_box_mail_text",
        "label": "Contact box e-mail address",
        "default": "hello@shabes.dk"
      },
      {
        "type": "text",
        "id": "contact_box_day_week",
        "label": "Contact box weekdays",
        "default": "Mon-fri"
      },
      {
        "type": "text",
        "id": "contact_box_day_week_time",
        "label": "Contact box weekdays time",
        "default": "09.00-17.30"
      },
      {
        "type": "text",
        "id": "contact_box_day_weekend",
        "label": "Contact box weekends",
        "default": "Sat:"
      },
      {
        "type": "html",
        "id": "contact_box_day_weekend_time",
        "label": "Contact box weekend time",
        "default": "09.00-17.30"
      },
      {
        "type": "header",
        "content": "Copyright"
      },
      {
        "type": "text",
        "id": "copyright_text",
        "label": "Copyright label",
        "default": "2021, SHABES ApS. All rights reserved"
      },
      {
        "type": "richtext",
        "id": "copyright_text_company",
        "label": "Copyright company number",
        "default": "<p><strong>Company registration number:</strong> 13574863</p>"
      }
    ]
  }
  {% endschema %}